.about {
	position: relative;

	padding-inline: clamp(2.8rem, 7.5vw, var(--spacing-8));
	padding-top: clamp(var(--spacing-9), 17vw, calc(2 * var(--spacing-9)));
	padding-bottom: clamp(var(--spacing-8), 12.5vw, var(--spacing-10));

	background-color: var(--bg-about);
	z-index: 0;

	&__curve {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		background-color: var(--clr-white);
		z-index: -1;

		& img {
			width: 100%;
		}
	}

	&__image {
		@media (max-width: $medium-bp) {
			margin-bottom: 9rem;
		}
	}

	&__header {
		@media (max-width: $medium-bp) {
			text-align: center;
		}

		@media (min-width: $medium-bp) {
			padding-right: clamp(var(--spacing-3), 8vw, var(--spacing-8));
		}
	}

	&__heading {
		margin-bottom: clamp(var(--spacing-4), 4vw, var(--spacing-6));
		font-size: clamp(var(--fz-regular), 4vw, var(--fz-large-xl));
	}

	&__text {
		margin-bottom: var(--spacing-2);
		max-width: 58ch;

		font-size: var(--fz-small-exclusive);
		line-height: 1.5;

		@media (max-width: $medium-bp) {
			margin-inline: auto;
		}

		@media (min-width: $medium-bp) {
			font-size: var(--fz-regular);
		}
	}

	&__link {
		position: relative;
		display: inline-block;
		margin-bottom: 4.5rem;

		font-size: var(--fz-small);
		text-decoration: none;

		color: var(--fylo-link);
		transition: color 0.4s ease-in-out;

		@media (min-width: $medium-bp) {
			font-size: var(--fz-regular);
		}

		&::before {
			position: absolute;
			bottom: -0.6rem;
			left: 0;
			width: 100%;
			height: 1px;

			background-color: var(--fylo-link);
			transition: background-color 0.4s ease-in-out;
			content: '';
		}

		&:hover {
			--fylo-link: var(--fylo-link-hover);
		}
	}

	&__link-icon {
		display: inline-block;
		margin-left: 0.8rem;
		margin-bottom: -0.25em;
	}
}
