.author {
	display: flex;
	align-items: center;

	&__avatar {
		margin-right: 0.8rem;
		max-width: clamp(2.4rem, 5vw, 3.2rem);
		aspect-ratio: 1;

		border-radius: 50%;
	}

	&__name {
		font-size: var(--fz-small);
		line-height: 1.5;
		font-weight: 700;
	}

	&__role {
		font-size: 1rem;
		line-height: 1.5;
	}
}
