.footer {
	padding: clamp(var(--spacing-6), 7.5vw, var(--spacing-8));
	padding-top: clamp(var(--spacing-7), 8vw, var(--spacing-9));
	color: var(--footer);
	background-color: var(--bg-footer);

	& a {
		text-decoration: none;
		color: inherit;
		transition: color 0.4s ease-in-out;

		&:hover {
			color: var(--footer-link-hover);
		}
	}

	&__body {
		place-items: start;
	}

	&__logo {
		margin-bottom: var(--spacing-2);
	}
}
