.subscription {
	padding-block: clamp(5.6rem, 8vw, var(--spacing-10)) clamp(7rem, 8vw, var(--spacing-9));

	color: var(--subscription);
	background-color: var(--bg-subscription);

	&__header {
		padding-inline: clamp(4.8rem, 8vw, var(--spacing-8));

		@media (max-width: $medium-bp) {
			text-align: center;
		}
	}

	&__heading {
		margin-bottom: clamp(var(--spacing-2), 3vw, var(--spacing-3));

		font-size: clamp(1.8rem, 4vw, var(--fz-large));
	}

	&__text {
		max-width: 55ch;

		font-size: var(--fz-regular);
		line-height: 1.5;

		@media (max-width: $medium-bp) {
			margin-inline: auto;
			font-size: var(--fz-small-exclusive);
		}
	}

	&__sign-in {
		padding-block: var(--spacing-3);
		padding-inline: clamp(var(--spacing-7), 8vw, 12rem);
	}
}
