.grid {
	@media (min-width: $medium-bp) {
		display: grid;
		align-items: center;
		grid-auto-flow: dense;

		&--reversed {
			& > *:first-child {
				grid-column: 2;
			}
		}

		&--double {
			grid-template-columns: repeat(2, 1fr);

			@media (min-width: $medium-bp) {
				gap: var(--spacing-3);
			}

			@media (min-width: $large-bp) {
				gap: 0;
			}
		}

		&--double-3-2 {
			grid-template-columns: 3fr 2fr;
		}

		&--triple {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
